<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styles_login.css">
    <link rel="icon" href="static/icon.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container" style="font-family: Quicksand;">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Username" style="font-family: Quicksand;"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Password" style="font-family: Quicksand;"><br><br>
            <button type="submit" style="font-family: Quicksand;">Login</button>
            <div class="signup-link">
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
        </form>
    </div>

    <script src="/static/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
